
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">{{ 'LOGIN.LOGINTITLE' | translate }}</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin">
                    <input type="text" class="form-control" #username placeholder="{{ 'LOGIN.EMAIL' | translate }}" required autofocus>
                    <input type="password" class="form-control" #password placeholder="{{ 'LOGIN.PASSWORD' | translate }}" required>
                    
                    <div class="alert alert-danger" *ngIf="wrongEmailOrPassword()">{{ 'LOGIN.WRONGEMAILORPASSWORD' | translate }}</div>
                    <div class="alert alert-danger" *ngIf="errorText !== ''">{{ errorText }}</div>

                    <button class="btn btn-lg btn-primary btn-block" (click)="login(username.value, password.value)" type="submit">
                        {{ 'LOGIN.LOGIN' | translate }}
                    </button>
                      
                </form>
            </div>
           
        </div>
    </div>
</div>



