
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">IotPlatformAdmin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/']" *ngIf="auth.authenticated()"><span class='glyphicon glyphicon-home'></span> {{ 'NAV.HOME' | translate }}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/admin']" *ngIf="auth.isAdmin()"><span class='glyphicon glyphicon-cog'></span> {{ 'NAV.ADMIN' | translate }}</a></li>
                <!--<li><a [routerLink]="['/fetch-data']" *ngIf="auth.authenticated()"><span class='glyphicon glyphicon-th-list'></span> {{ 'NAV.FETCHDATA' | translate }}</a></li>-->
                <li><a [routerLink]="['/tenantManager']" *ngIf="auth.authenticated()"><span class='glyphicon glyphicon-th-list'></span>{{ 'NAV.TENANTMANAGER' | translate }}</a></li>

                <li><a [routerLink]="['/profile']" *ngIf="auth.authenticated()"><span class='glyphicon glyphicon-user'></span>{{ 'NAV.PROFILE' | translate }}</a></li>
                <li><a href="#" (click)="auth.logout()" *ngIf="auth.authenticated()"><span class='glyphicon glyphicon-log-out'></span> {{ 'NAV.LOGOUT' | translate }}</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="row">
    <div class="changeLanguage">
        <!--<span >{{ 'NAV.LANGUAGE' | translate }}</span>-->
        <select #langSelect (change)="changeLanguage(langSelect)" class="form-control">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div><!-- /.container -->
