<!--<h1>Tenant Detail</h1>
<hr />-->
<!--<button (click)='goBack()' class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
</button>-->


<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        Tenant Detail
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-12'>

                <div class='row top-buffer'>
                    <div class='col-md-4'><strong>Name:</strong></div>
                    <div class='col-md-4'>name1</div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-4'><strong>Health State:</strong></div>
                    <div class='col-md-4'>
                        <div class="round-green">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        OK
                    </div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-4'><strong>Status:</strong></div>
                    <div class='col-md-4'>Running</div>
                    <a [routerLink]="" > Stop </a>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-4'><strong>Version:</strong></div>
                    <div class='col-md-4'>1.0</div>
                    <a data-toggle="modal" data-target="#updateModal">
                        <!--<span class="glyphicon glyphicon-download-alt"></span>-->
                        Update
                    </a>
                </div>
          
                <div class='row top-buffer'>
                    <div class='col-md-4'>
                        <a data-toggle="collapse" href="#collapse1">
                            <strong>Services</strong>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                    </div>
                </div>

                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class='table-responsive'>
                            <table class='table ' *ngIf='true'>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Instances</th>
                                        <th>Typename</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>service-a</td>
                                        <td>stateless</td>
                                        <td>1</td>
                                        <td>MockServiceAType</td>
                                    </tr>
                                    <tr>
                                        <td>service-b</td>
                                        <td>statefull</td>
                                        <td></td>
                                        <td>MockServiceBType</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>service-c</td>
                                        <td>stateless</td>
                                        <td>3</td>
                                        <td>MockServiceCType</td>
                                    </tr>                            
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <!--<div class="panel-footer">
                       Panel footer
                    </div>-->
                </div>

            </div>

        </div>
    </div>
    <div class='panel-footer'>

        <div class='row'>
            <div class='col-md-7'>
                <a class='btn btn-default' (click)='onBack()' style='width:80px'>
                    <i class='glyphicon glyphicon-chevron-left'></i> Back
                </a>
            </div>
            <div class='col-md-5'>
                <button data-toggle="modal" data-target="#editModal" class="btn btn-primary"><span class="glyphicon glyphicon-edit"> Edit</span></button>
                <button data-toggle="modal" data-target="#deleteModal" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> Delete</span></button>
            </div>

        </div>

    </div>
</div>






<!-- Delete Tenant Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-primary">
            <div class="modal-header panel-heading" style='font-size:large'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                Confirm Tenant Deletion
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class='col-md-12'>
                        Delete tenant?
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class='col-md-10'>
                        <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Type in name1 to continue" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Update Tenant Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-primary">
            <div class="modal-header panel-heading" style='font-size:large'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                Update Tenant
            </div>
            <div class="modal-body">
                <div class="row top-buffer">
                    <div class='col-md-1 col-md-offset-1'><strong>From:</strong></div>
                    <div class='col-md-1 col-md-offset-1'>v1.0</div>
                </div>
                <div class="row top-buffer">
                    <div class='col-md-1 col-md-offset-1'><strong>To:</strong></div>
                    <div class='col-md-3 col-md-offset-1'>
                        <select [(ngModel)]="version" name="Select" class="form-control">
                            <option *ngFor="let n of versions" [attr.value]="n">{{n}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Update</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--Edit Tenant Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-primary">
            <div class="modal-header panel-heading" style='font-size:large'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                Edit Tenant
            </div>
            <div class="modal-body">

                <div class="row top-buffer">
                    <div class='col-md-2'><strong>Name:</strong></div>
                    <div class='col-md-7'><input type="text" class="form-control" name="fname" value="name1" /></div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-2'><strong>param1:</strong></div>
                    <div class='col-md-7'> <input class="form-control" type="text" name="fname" value="value1"> </div>
                    <div class='col-md-3'> <input type="checkbox"> secret </div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-2'><strong>param2:</strong></div>
                    <div class='col-md-7'> <input class="form-control" type="text" name="fname" value="value2"> </div>
                    <div class='col-md-3'> <input type="checkbox" checked> secret </div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-2'><strong>param3:</strong></div>
                    <div class='col-md-7'> <input class="form-control" type="text" name="fname" value="value3"> </div>
                    <div class='col-md-3'> <input type="checkbox"> secret </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
