<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        Tenants
    </div>

    <div class='panel-body'>

        <div class='row bottom-buffer'>

            <div class='col-md-3'>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="inputValidation" placeholder="Search" />
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>

            <div class='col-md-2 '>
                <button *ngIf="update" type="button" class="btn btn-primary btn-md">
                    Update
                </button>
            </div>

            <div class='col-md-2 col-md-offset-5'>
                <button data-toggle="modal" data-target="#addModal" type="button" class="btn btn-primary btn-md">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Tenant
                </button>
            </div>

        </div>

        <!-- TENANTS -->
        <div class='table-responsive'>
            <table class='table table-striped' *ngIf='true'>

              
                <thead style="font-size:18px;">
                    <tr>
                        <th>
                            <input type="checkbox"> Name
                        </th>
                        <th>Version</th>
                        <th>
                            <div class="dropdown">
                                <span>Health State</span>
                                <span class="dropdown-toggle glyphicon glyphicon-filter" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu">
                                    <li><input type="checkbox"> OK</li>
                                    <li><input type="checkbox"> Warning</li>
                                    <li><input type="checkbox"> Error</li>
                                </ul>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown">
                                <span>Status</span>
                                <span class="dropdown-toggle glyphicon glyphicon-filter" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu">
                                    <li><input type="checkbox"> Running</li>
                                    <li><input type="checkbox"> Stopped</li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead> 
          
                <tbody>
                    <tr *ngFor="let tenant of tenants">
                        <td>
                            <input #name1 type="checkbox" (change)="update = name1.checked"> <a [routerLink]="['/tenant', 1]">{{tenant.name}}</a>
                        </td>
                        <td>{{tenant.version}}</td>

                        <td>
                            <div [ngSwitch]="tenant.healthState">
                                <div *ngSwitchCase="'OK'">
                                    <div class="round-green">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </div>
                                    OK
                                </div>
                                <div *ngSwitchCase="'Error'">
                                    <div class="round-red">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                    Error
                                </div>
                            </div>
                        </td>

                        <td>{{tenant.status}}</td>
                    </tr>

                </tbody>

            </table>
        </div> 

    </div>
</div>

<!--ADD TENANT MODAL -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-primary">
            <div class="modal-header panel-heading" style='font-size:large'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                Add Tenant
            </div>

            <div class="modal-body">

            
                <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="displayName">
                        <small *ngIf="!myForm.controls.displayName.valid" class="text-danger">
                            Required
                        </small>
                    </div>

                    <div class="tabbable">

                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Add Parameters</a></li>
                            <li><a href="#tab2" data-toggle="tab">Add Services</a></li>
                        </ul>

                        <div class="tab-content">

                            <!--ADD PARAMETERS-->
                            <div class="tab-pane active" id="tab1">

                                <div style="margin-top:30px;" class="row">
                                    <div class="col-md-4">
                                        <label>Parameter Name</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" formControlName="parameterName" />
                                    </div>
                                </div>

                                <div style="margin-top:10px;" class="row">
                                    <div class="col-md-4">
                                        <label>Parameter Value</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" formControlName="parameterValue" />
                                    </div>
                                </div>

                                <div style="margin-top:10px;" class="row">
                                    <div class="col-md-4">
                                        <label>Secret</label>
                                    </div>
                                    <div style="margin-top:5px;" class="col-md-8">
                                        <input type="checkbox" formControlName="parameterSecret"> 
                                    </div>
                                </div>

                                <div style="margin-top:15px;" class="row">
                                    <div class="col-md-3 ">
                                        <a (click)="addParameter()" style="cursor: pointer">
                                            <strong>Add Parameter +</strong>
                                        </a>
                                    </div>
                                </div>

                                <div style="margin-top:30px;" class="row" *ngIf="parameters.length">
                                    <div class="col-md-12 ">
                                        <div style="margin-bottom:-20px" class="row">
                                            <div class="col-md-3 col-md-offset-1">
                                                <label>Parameter Name</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Parameter Value</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Secret</label>
                                            </div>
                                        </div>
                                        <hr />
                                        <div style="margin-bottom:15px;" class="row" *ngFor="let parameter of parameters; let i=index">
                                            <div class="col-md-1">
                                                <span style="cursor:pointer;" class="glyphicon glyphicon-remove" (click)="removeParameter(i)"></span>
                                            </div>
                                            <div class="col-md-3">
                                                {{parameter.name}}
                                            </div>
                                            <div class="col-md-4">
                                                {{parameter.value}}
                                            </div>
                                            <div class="col-md-4">
                                                {{parameter.secret}}
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>

                            <!--ADD SERVICES-->
                            <div class="tab-pane" id="tab2">

                                <div style="margin-top:30px;" class="row">
                                    <div class="col-md-4">
                                        <label>Service Type</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select formControlName="serviceType" class="form-control">
                                            <option>Stateless</option>
                                            <option>Stateful</option>
                                        </select>
                                    </div>
                                </div>

                                <div style="margin-top:10px;" class="row">
                                    <div class="col-md-4">
                                        <label>Service Name</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" formControlName="serviceName" />
                                    </div>
                                </div>

                                <div style="margin-top:10px;" class="row">
                                    <div class="col-md-4">
                                        <label>Service Type Name</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" formControlName="serviceTypeName" />
                                    </div>
                                </div>

                                <div [ngSwitch]="myForm.controls['serviceType'].value">
                                    <div *ngSwitchCase="'Stateless'">
                                        <div style="margin-top:10px;" class="row">
                                            <div class="col-md-4">
                                                <label>Instance Count</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" formControlName="instanceCount" />
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'Stateful'">

                                        <div style="margin-top:10px;" class="row">
                                            <div class="col-md-4">
                                                <label>Min Replica Set Size</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" formControlName="minReplicaSetSize" />
                                            </div>
                                        </div>

                                        <div style="margin-top:10px;" class="row">
                                            <div class="col-md-4">
                                                <label>Target Replica Set Size</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" formControlName="targetReplicaSetSize" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="margin-top:15px;" class="row">
                                    <div class="col-md-3 ">
                                        <a (click)="addService()" style="cursor: pointer">
                                            <strong>Add Service +</strong>
                                        </a>
                                    </div>
                                </div>

                                <div style="margin-top:30px;" class="row" *ngIf="services.length">
                                    <div class="col-md-12 ">
                                        <div style="margin-bottom:-20px" class="row">
                                            <div class="col-md-3 col-md-offset-1">
                                                <label>Service Name</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Service Type Name</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Service Type</label>
                                            </div>
                                        </div>
                                        <hr />
                                        <div style="margin-bottom:15px;" class="row" *ngFor="let service of services; let i=index">
                                            <div class="col-md-1">
                                                <span style="cursor:pointer;" class="glyphicon glyphicon-remove" (click)="removeService(i)"></span>
                                            </div>
                                            <div class="col-md-3">
                                                {{service.name}}
                                            </div>
                                            <div class="col-md-4">
                                                {{service.typename}}
                                            </div>
                                            <div class="col-md-4">
                                                {{service.type}}
                                            </div>
                                        </div>                                   
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!--<pre> {{tenant | json}}</pre>-->
                    <!--<pre> {{myForm.value | json}}</pre>-->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>

                </form> 
            </div> 
        </div>
    </div>
</div>



