thead{
    font-size:16px;
}


.panel {
    width: 50%;
    margin: 0 auto;
}

/*.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}*/

.top-buffer { margin-top:20px; }

.panel-heading
{
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
}

a{
    cursor:pointer;
}

.round-green {
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #42A129;    
    color: #FFF;
    text-align: center; 
    
     border-style: solid;
    border-width: 2px;
    border-color: #FFF;     
}

.round-red {
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ff0000;    
    color: #FFF;
    text-align: center;  
    
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;  
}