<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        Tenants
    </div>
    
    <div class='panel-body'>

        <div class='row bottom-buffer'>

            <div class='col-md-3'>
                <div class="form-group has-feedback">    
                    <input type="text" class="form-control" id="inputValidation" placeholder="Search" />
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>

                <!--<input class="form-control" type="text" [(ngModel)]="filterText" placeholder="Search..." />-->
                <!--<i class="glyphicon glyphicon-search"></i>-->
            </div>
            <div class='col-md-2 col-md-offset-7'>
                <button data-toggle="modal" data-target="#addModal" type="button" class="btn btn-primary btn-md">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Tenant
                </button>
                <!--<i class="glyphicon glyphicon-search"></i>-->
            </div>
        </div>

       
           


        <div class='table-responsive'>
            <table class='table table-striped' *ngIf='true'>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox"> Name
                            
                        </th>
                        <th>Version</th>
                        <th>
                            <div class="dropdown">
                                <span>Health State</span>
                                <span class="dropdown-toggle glyphicon glyphicon-filter" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu">
                                    <li><input type="checkbox"> OK</li>
                                    <li><input type="checkbox"> Warning</li>
                                    <li><input type="checkbox"> Error</li>
                                </ul>
                            </div>
                        </th>
                        <th>
                            <!--<span class="glyphicon glyphicon-filter"></span>-->
                            <div class="dropdown">
                                <span>Status</span>
                                <span class="dropdown-toggle glyphicon glyphicon-filter" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu">
                                    <li><input type="checkbox"> Running</li>
                                    <li><input type="checkbox"> Stopped</li>
                                </ul>
                            </div>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox"> <a [routerLink]="['/tenant', 1]">name1</a>

                        </td>
                        <td>1.0</td>
                        <td>
                            <div class="round-green">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            OK
                        </td>
                        <td>Running</td>
                        <!--<td>
                            <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-info-sign"> Details</span></button>
                            <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-edit"> Edit</span></button>
                            <button class="btn btn-danger btn-xs "><span class="glyphicon glyphicon-trash"> Delete</span></button>
                        </td>-->
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox"> <a [routerLink]="['/tenant', 1]">name2</a>
                        </td>
                        <td>1.0</td>
                        <td>
                            <div class="round-green">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            OK
                        </td>
                        <td>Running</td>
                        <!--<td>
                            <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-info-sign"> Details</span></button>
                            <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-edit"> Edit</span></button>
                            <button class="btn btn-danger btn-xs "><span class="glyphicon glyphicon-trash"> Delete</span></button>
                        </td>-->
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox"> <a [routerLink]="['/tenant', 1]">name3</a>
                        </td>
                        <td>
                            1.1
                        </td>
                        <td>
                            <div class="round-red">
                                <span class="glyphicon glyphicon-remove"></span>
                            </div>
                            Error
                        </td>
                        <td>Stopped</td>
                        <!--<td>
                            <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-info-sign"> Details</span></button>
                            <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-edit"> Edit</span></button>
                            <button class="btn btn-danger btn-xs "><span class="glyphicon glyphicon-trash"> Delete</span></button>
                        </td>-->
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<!--Add Tenant Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-primary">
            <div class="modal-header panel-heading" style='font-size:large'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                Add Tenant
            </div>
            <div class="modal-body">
                <div class="row top-buffer">
                    <div class='col-md-2'><strong>Name:</strong></div>
                    <div class='col-md-7'><input type="text" class="form-control" /></div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-2'><strong>param1:</strong></div>
                    <div class='col-md-7'> <input class="form-control" type="text" name="fname"> </div>
                    <div class='col-md-3'> <input type="checkbox"> secret </div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-2'><strong>param2:</strong></div>
                    <div class='col-md-7'> <input class="form-control" type="text" name="fname"> </div>
                    <div class='col-md-3'> <input type="checkbox"> secret </div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-2'><strong>param3:</strong></div>
                    <div class='col-md-7'> <input class="form-control" type="text" name="fname"> </div>
                    <div class='col-md-3'> <input type="checkbox"> secret </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->










<!--<h1>{{ 'TENANTMANAGER.TITLE' | translate }}</h1>-->
<!--<div class="alert alert-success" *ngIf="auth.authenticated()">{{ 'HOME.LOGGEDIN' | translate }}</div>-->
<!--<hr />-->
<!--<div *ngIf="tenants">

</div>-->
<!--<h3>Tenants</h3>
<pre> {{tenants | json}}</pre>-->
<!--<i class="glyphicon glyphicon-search"></i>
<input type="text" [(ngModel)]="filterText" placeholder="Search..." />

<table class='table' *ngIf="tenants">
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Health State <span class="glyphicon glyphicon-filter"></span></th>
            <th>Status <span class="glyphicon glyphicon-filter"></span></th>

        </tr>
    </thead>
    <tbody>
        <tr>

            <td><a [routerLink]="['/tenant', 1]">name1</a></td>
            <td>1.1</td>
            <td><button type="button" class="btn btn-success btn-xs btn-round"><span class="glyphicon glyphicon-ok"></span></button> OK</td>
            <td>Running</td>
            <td>
                <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-info-sign"> Details</span></button>
                <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-edit"> Edit</span></button>
                <button class="btn btn-danger btn-xs "><span class="glyphicon glyphicon-trash"> Delete</span></button>
            </td>
        </tr>
        <tr>
            <td><a [routerLink]="">name2</a></td>
            <td>1.1</td>
            <td><button type="button" class="btn btn-success btn-xs btn-round"><span class="glyphicon glyphicon-ok"></span></button> OK</td>
            <td>Running</td>
            <td>
                <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-info-sign"> Details</span></button>
                <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-edit"> Edit</span></button>
                <button class="btn btn-danger btn-xs "><span class="glyphicon glyphicon-trash"> Delete</span></button>
            </td>
        </tr>
        <tr>
            <td><a [routerLink]="">name3</a></td>
            <td>
                1.0
                <a [routerLink]="">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    Update
                </a>

            </td>
            <td><button type="button" class="btn btn-danger btn-xs btn-round"><span class="glyphicon glyphicon-remove"></span></button> Error</td>
            <td>Stopped</td>
            <td>
                <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-info-sign"> Details</span></button>
                <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-edit"> Edit</span></button>
                <button class="btn btn-danger btn-xs "><span class="glyphicon glyphicon-trash"> Delete</span></button>
            </td>
        </tr>

    </tbody>
</table>-->
<!--<table class='table' *ngIf="tenants">
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Health State <span class="glyphicon glyphicon-filter"></span></th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tenant of tenants">
            <td>{{ tenant.name }}</td>
            <td>{{ tenant.version }}</td>
            <td>{{ tenant.healthState }}</td>
            <td>{{ tenant.status }}</td>
            <td>
                <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-info-sign"> Details</span></button>
                <button class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-edit"> Edit</span></button>
                <button class="btn btn-danger btn-xs "><span class="glyphicon glyphicon-trash"> Delete</span></button>

            </td>
        </tr>
    </tbody>
</table>-->
<!--<button type="button" class="btn btn-success btn-xs btn-round"><span class="glyphicon glyphicon-ok"></span></button>
    <button type="button" class="btn btn-danger btn-xs btn-round"><span class="glyphicon glyphicon-remove"></span></button>-->
